@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply bg-cornflower-blue-500 hover:bg-cornflower-blue-600 active:bg-cornflower-blue-700 duration-300 transition;
}

*::-webkit-scrollbar {
  width: 2px !important;
}

/* Track */
/* *::-webkit-scrollbar-track {
  background: #ffffff !important;
} */

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #f5f5f5 !important;
}

.ql-container.ql-snow {
  border: none !important;
  /* overflow-y: auto !important;
padding: 0px 0px 5px 0px; */
}
.ql-toolbar.ql-snow {
  border: none !important;
  /* position: sticky !important; */
}
