@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply bg-black  duration-300 transition;
}

*::-webkit-scrollbar {
  width: 2px !important;
}

/* Track */
/* *::-webkit-scrollbar-track {
  background: #ffffff !important;
} */

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #f5f5f5 !important;
}

.ql-container.ql-snow {
  border: none !important;
  overflow: hidden !important;
}
.ql-container.ql-editor {
  overflow: hidden !important;
}

.ql-toolbar.ql-snow {
  border: none !important;
  /* position: sticky !important; */
}
